@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  background-color: rgb(177, 231, 236);
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #2597f4;
  border-radius: 5rem;
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
  text-transform: capitalize;
  color: #334;
}

.heading span {
  color: #2597f4;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  background: rgb(161, 149, 252);
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #334;
  border: 0.2rem solid #334;
}

.btn:hover {
  background: #334;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.937);
  border-color: #2597f4;
  color: #fff;
}

.header .navbar {
  padding: 2rem 10%;
  padding-left: 5rem;
  padding-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: rgb(24, 22, 26);
  border-bottom: 0.2rem solid #334;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.header .navbar .logo {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: rgb(183, 183, 199);
  font-weight: bolder;
}

.header .navbar .logo i {
  color: #2597f4;
}

.header .navbar .links a {
  margin-left: 2rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: rgb(174, 174, 241);
}

.header .navbar .links a:hover {
  color: #4425f4;
}

.pro {
  border-radius: 50%;
  border: 0.2rem solid #fff;
}

.pri {
  border-radius: 50%;
  border: 0.2rem solid #fff;
}

.header #menu-btn {
  font-size: 3rem;
  cursor: pointer;
  color: #334;
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
}

.home .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.home .content h3 {
  font-size: 4.5rem;
  text-transform: capitalize;
  color: #334;
}

.home .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.gap {
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  background: #f5f5f5;
  gap: 3rem;

}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  gap: 3rem;
}

.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #334;
  padding-bottom: .5rem;
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.services {
  background: #f5f5f5;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

.services .box-container .box {
  text-align: center;
  background: #fff;
  border: 0.2rem solid #334;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 3rem 2rem;
}

.services .box-container .box .bttn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #334;
  border: 0.2rem solid #334;
}

.services .box-container .box:hover {
  background: #334;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.937);
  border-color: #2597f4;
}

.services .box-container .box:hover h3 {
  color: #fff;
}

.services .box-container .box:hover p {
  color: #fff;
}

.services .box-container .box:hover .bttn {
  background: #334;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.937);
  color: #fff;
  border-color: #2597f4;
}

.services .box-container .box img {
  height: 7rem;
  margin-bottom: .5rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
  padding: 1rem 0;
}

.services .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.gallery .gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.gallery .gallery-container .box {
  height: 25rem;
  overflow: hidden;
}

.gallery .gallery-container .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery .gallery-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.team .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.team .box-container .box {
  overflow: hidden;
  text-align: center;
}

.team .box-container .box:hover .content {
  margin-bottom: 0;
}

.team .box-container .box img {
  width: 100%;
}

.team .box-container .box .content {
  padding: 2rem;
  margin-bottom: -7rem;
}

.team .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
}

.team .box-container .box .content p {
  font-size: 1.4rem;
  line-height: 2;
  color: #777;
  padding: .5rem 0;
}

.team .box-container .box .content .share {
  margin-top: 1.5rem;
}

.team .box-container .box .content .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  margin: 0 .3rem;
  background: #334;
  color: #fff;
}

.team .box-container .box .content .share a:hover {
  background: #2597f4;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
}

.contact .row .map {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding: 2rem;
  background: rgb(236, 246, 245);
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
}

.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #334;
  padding-bottom: 1rem;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input,
.contact .row form textarea {
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: #777;
  margin: .7rem 0;
  border: 0.2rem solid #334;
}

.contact .row form .inputBox input:focus,
.contact .row form textarea:focus {
  background: #334;
  color: #fff;
}

.contact .row form .inputBox input:focus::-webkit-input-placeholder,
.contact .row form textarea:focus::-webkit-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus:-ms-input-placeholder,
.contact .row form textarea:focus:-ms-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus::-ms-input-placeholder,
.contact .row form textarea:focus::-ms-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus::placeholder,
.contact .row form textarea:focus::placeholder {
  color: #fff;
}

.contact .row form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}

.footer {
  background: #f5f5f5;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #334;
  padding: 1rem 0;
}

.footer .box-container .box .link {
  display: block;
  padding: .5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.footer .box-container .box .link i {
  padding-right: .5rem;
  color: #2597f4;
}

.footer .box-container .box .link:hover {
  color: #2597f4;
}

.footer .box-container .box .link:hover i {
  padding-right: 2rem;
}

.footer .box-container .box p {
  padding: .5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.footer .box-container .box p span {
  color: #2597f4;
}

.footer .box-container .box .email {
  width: 100%;
  border: 0.2rem solid #334;
  padding: 1.6rem 1.4rem;
  font-size: 1.6rem;
  color: #777;
  margin: 1rem 0;
}

.footer .box-container .box .share {
  margin-top: 2rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #334;
  color: #fff;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #2597f4;
}

.footer .credit {
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.2rem solid #334;
  text-align: center;
}

.footer .credit span {
  color: #2597f4;
}

.swiper {
  width: 100%;
  background: #f5f5f5;
}

.swiper-wrapper {
  width: 600%;
  height: 35em;
  display: flex;
  align-items: center;
}

.card {
  width: 20em;
  height: 95%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, .2);
  padding: 1em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
}

.card__image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid var(--color);
  padding: 3px;
  margin-bottom: 2em;
  margin-top: 1.4rem;
}

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: .2em;
}

.card__name {
  color: var(--color);
}

.card__text {
  text-align: center;
  font-size: 1.1rem;
  margin: 3em 1em;
  display: flex;
}

.card__btn {
  background-color: blueviolet;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: .5em;
  border-radius: .5em;
  margin-top: 1em;
  cursor: pointer;
  width: 35%;
}

#card_btn {
  color: #000000;
  font-size: 1.4rem;
  position: relative;
  margin-left: 16rem;
  margin-top: .1rem;
  position: relative;
}

#id_review_message {
  border: solid rgb(126, 103, 103);
  margin-top: 1rem;
  border-radius: 10%;
  padding: 1rem;
  height: 10em;
  width: 14em;
  font-size: 1.1rem;
}


@media (max-width: 1200px) {
  .header .contact-info {
    padding: 2rem 5%;
  }

  .header .navbar {
    padding: 2rem 5%;
  }

  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 1128px) {
  html {
    font-size: 50%;
  }

  .header .contact-info {
    padding: 2rem;
  }

  .header .navbar {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 873px) {
  .header .contact-info {
    display: none;
  }

  .header #menu-btn {
    display: inline-block;
  }

  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .header .navbar .links {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: rgb(34, 32, 32);
    border-top: 0.2rem solid #334;
    border-bottom: 0.2rem solid #334;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar .links.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar .links a {
    display: block;
    margin: 2.5rem 2rem;
    font-size: 2rem;
  }

  .fun-fact {
    padding: 5rem 2rem;
  }

  .fun-fact .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .content h3 {
    font-size: 3rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }

  .heading {
    font-size: 3rem;
  }
}